<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURRICULUM KATIA</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header-conten {
            display: flex;
            align-items: center;
            justify-content:center;

        }
        header h1 {
            margin: 0;
            font-size: 2em;
        }
        .main-info, .section {
            padding: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
        }
        .main-info h2, .section h2 {
            border-bottom: 2px solid #77aaff;
            padding-bottom: 10px;
            color: #333;
        }
        footer {
            text-align: center;
            padding: 20px 0;
            background: #4ca6f5;
            color: #0a0a0a;
            margin-top: 20px;
        }
        footer a {
            color: #232222;
            text-decoration: none;
            margin: 0 10px;
        }
        footer a:hover {
            text-decoration: underline;
        }
    </style>